/** 
* header-top
* navbar
* banner
* banner-bottom
* shop
* product
* footer 
**/


/*--------------- header-top ---------------*/

.header-top {
    height: 62px;
}

.nav-top {
    position: relative;
}

.left-logo {
    position: absolute;
    left: 14px;
}

.header-title {
    font-size: 28px;
    line-height: 62px;
}

.right-loginbar {
    position: absolute;
    right: 14px;
}

.header-search {
    float: left;
    width: 300px;
    padding: 22px 32px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.header-search input#search {
    width: 0px;
    height: 22px;
    background: #cecece;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding: 0;
    position: absolute;
    right: 45px;
    /* padding-left: 35px; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.icon {
    position: absolute;
    right: 20px;
}

.header-search input#search:focus,
.container-2 input#search:active {
    outline: none;
    width: 150px;
}

.header-search:hover input#search {
    width: 150px;
}

.header-search:hover .icon {
    color: #57c5a0;
}

.header-login {
    font-size: 12px;
    height: 62px;
    padding: 22px 30px;
    box-sizing: border-box;
    border-left: 1px solid #353535;
    border-right: 1px solid #353535;
    float: left;
}

.header-login:hover a {
    color: #57c5a0;
}

@media (max-width:360px) {
    .header-top {
        height: 52px;
    }
    .header-title {
        font-size: 16px;
        line-height: 52px;
    }
    .header-login {
        height: 52px;
        width: 80px;
        padding: 14px 8px;
    }
    .header-search {
        padding: 17px 15px;
        width: 245px;
    }
    .icon {
        right: 10px;
    }
    .header-search input#search {
        right: 36px;
    }
    .header-search:hover input#search {
        width: 90px;
    }
    .header-search input#search:focus,
    .container-2 input#search:active {
        width: 90px;
    }
}


/* ---------------navbar--------------- */

.navbar {
    height: 82px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}


/* left-navbar */

.nav-link {
    padding: 0px 30px;
}

.nav-link,
.dropdown {
    float: left;
    font-size: 18px;
    line-height: 82px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid #f0f0f0;
    letter-spacing: 1px;
}

.nav-link:first-child {
    border-left: 1px solid #f0f0f0;
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #000000;
    padding: 0px 30px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    cursor: pointer;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color: #57c5a0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content h3 {
    font-size: 28px;
    position: relative;
}

.sale-img {
    display: inline-block;
    height: 60px;
    width: 100px;
    background-image: url(../img/draw.jpg);
    background-position: center;
    background-size: cover;
}

.sale-content {
    display: inline-block;
    font-size: 20px;
}

@media (max-width:768px) {
    .navbar {
        height: 60px;
    }
    .nav-link {
        padding: 0px 16.5px;
        border: none;
        line-height: 60px;
    }
    .dropdown {
        border: none;
        line-height: 60px;
    }
    .dropdown .dropbtn {
        padding: 0px 16.5px;
    }
    .nav-link:first-child {
        border: none;
    }
    .dropdown-content h3 {
        font-size: 24px;
    }
}

@media (max-width:360px) {
    .dropdown:hover .dropdown-content {
        display: none;
    }
}

.col-4 {
    width: 33.3333333%;
    float: left;
    padding: 10px;
    border-right: 1px solid #b1b1b1;
}

.col-4:last-child {
    border: none;
}

.col-4 a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.col-lg-4 a:hover {
    background-color: #ddd;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.burger,
.checkbox {
    display: none;
}

@media (max-width:360px) {
    .left-navbar {
        display: none;
    }
    .burger {
        display: inline-block;
        font-size: 30px;
        position: absolute;
        left: 2%;
        top: 50%;
        transform: translateY(-50%);
    }
    #burger:checked+.left-navbar {
        display: block;
        background-color: rgba(256, 256, 256, 0.9);
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
    }
    .navbar {
        height: 46px;
    }
    .nav-link,
    .dropdown {
        line-height: 46px;
        font-size: 16px;
    }
}


/* right-navbar */

.right-navbar {
    float: right;
    position: relative;
}

.favorites,
.shoppingcart {
    padding: 0px 30px;
    border-right: 1px solid #d2d2d2;
    float: left;
    font-size: 18px;
    line-height: 82px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
}

@media (max-width:768px) {
    .favorites,
    .shoppingcart {
        padding: 0px 15.4px;
        line-height: 60px;
    }
}

@media (max-width:360px) {
    .favorites,
    .shoppingcart {
        padding: 0 8px;
        line-height: 46px;
        font-size: 16px;
    }
}

.favorites-badge {
    color: #ffffff;
    background-color: #adadad;
    border-radius: 6px;
    padding: 5px 5px;
    font-size: 12px;
}

.shoppingcart-badge {
    color: #ffffff;
    border-radius: 6px;
    padding: 5px 8px;
    font-size: 12px;
}

.shoppingcart-btn {
    border: none;
    outline: none;
    /* padding: 0px 30px; */
    background-color: inherit;
    font: inherit;
    margin: 0;
    cursor: pointer;
}

.shoppingcart-btn:hover {
    color: #57c5a0;
}

.item-img {
    background-image: url(../img/draw.jpg);
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
}

.shopping-item {
    height: 0px;
    width: 100%;
    position: absolute;
    top: 82px;
    left: 0;
    background-color: #fff;
    z-index: 1;
    transition: all 0.3s;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.list-show {
    height: 250px;
}

@media(max-width:768px) {
    .shopping-item {
        top: 60px;
    }
}

@media(max-width:360px) {
    .shopping-item {
        top: 46px;
    }
}


/*--------------- banner ---------------*/

.banner-group {
    height: 634px;
    position: relative;
}

.banner-img {
    background-image: url(../img/banner.png);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-content {
    height: 100%;
}

.banner-price {
    height: 92px;
    width: 92px;
    position: absolute;
    bottom: 0px;
    left: 16px;
    padding: 38px 23px 28px 12px;
}

.banner-position {
    top: 17%;
}

.banner-content h2 {
    position: absolute;
    top: 30%;
    left: 16px;
}

.banner-content p {
    position: absolute;
    top: 48%;
    left: 16px;
    width: 70%;
    font-size: 22px;
}

.banner-icon {
    position: absolute;
    top: 70%;
    left: 16px;
}

.banner-icon a {
    background-color: #fff;
    padding: 10px 10px;
}

.banner-icon a:hover {
    color: #57c5a0;
}

.banner-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width:768px) {
    .banner-group {
        height: 416px;
    }
    .banner-img {
        background-size: contain;
    }
    .banner-price {
        height: 65px;
        width: 65px;
        padding: 25px 0 0 3px;
    }
    .banner-content h2 {
        font-size: 35px;
        top: 28%;
    }
    .banner-content p {
        font-size: 18px;
        line-height: 24px;
        width: 87%;
    }
    .banner-icon {
        top: 74%;
    }
}

@media (max-width:360px) {
    .col-lg-6 {
        width: 100%;
    }
    .banner-img {
        height: 50%;
        background-size: cover;
    }
    .banner-group {
        height: 460px;
    }
    .banner-price {
        font-size: 12px;
        height: 50px;
        width: 50px;
        top: 2%;
        padding: 20px 0 0 3px;
    }
    .banner-content h2 {
        font-size: 22px;
        top: 9%;
    }
    .banner-content p {
        font-size: 12px;
        line-height: 16px;
        top: 23%;
    }
    .banner-icon {
        top: 39%;
    }
    .banner-icon a {
        font-size: 12px;
        padding: 8px;
    }
}

.show {
    display: block;
}


/*--------------- banner-bottom ---------------*/

.col-1-5 {
    width: 19.7%;
    display: inline-block;
}

.banner-btn {
    background-color: #2e2e2e;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    position: relative;
    border: none;
    outline: none;
}

.banner-btn:hover {
    background-color: #494949;
}

.banner-btn:active {
    background-color: #000000;
}

.banner-time {
    width: 0%;
    height: 5%;
    position: absolute;
    top: 5%;
    left: 0;
    background-color: #57c5a0;
}

.width-full {
    transition: all 3s;
    width: 100%;
}

.banner-title {
    font-size: 22px;
}

.banner-subtitle {
    font-size: 18px;
    line-height: 24px;
    color: #7a7a7a;
}

@media (max-width:768px) {
    .col-1-5 {
        width: 19.5%;
    }
    .banner-btn {
        padding-top: 20px;
    }
    .banner-btn {
        padding-top: 20px;
        padding-bottom: 14px;
    }
    .banner-title {
        font-size: 18px;
    }
    .banner-subtitle {
        font-size: 13px;
        line-height: 22px;
    }
}

@media (max-width:360px) {
    .col-1-5 {
        width: 18.9%;
    }
    .banner-btn {
        padding-top: 20px;
        padding-bottom: 14px;
    }
    .banner-title {
        font-size: 12px;
    }
    .banner-subtitle {
        line-height: 13px;
    }
}


/*--------------- shop ---------------*/

.onsale-box,
.special-box,
.musthave-box {
    overflow: hidden;
    width: 31.8%;
    margin: 34px 12px;
    display: inline-block;
    position: relative;
}

.onsale-box:after,
.special-box:after,
.musthave-box:after {
    content: "";
    color: #ffffff;
    font-size: 24px;
    background-color: #000000d3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

@media (max-width:768px) {
    .onsale-box,
    .special-box,
    .musthave-box {
        width: 90%;
        margin: 34px 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .onsale-box:after,
    .special-box:after,
    .musthave-box:after {
        font-size: 32px;
    }
}

.onsale-box:after {
    content: "ON SALE";
    padding: 28px 62px;
}

.special-box:after {
    content: "SPECIAL OFFERS";
    padding: 28px 40px;
}

.musthave-box:after {
    content: "MUST HAVE";
    padding: 28px 40px;
}

@media (max-width:360px) {
    .onsale-box:after,
    .special-box:after,
    .musthave-box:after {
        font-size: 20px;
    }
    .onsale-box:after {
        padding: 20px 45px;
    }
    .special-box:after,
    .musthave-box:after {
        padding: 20px 30px;
    }
}

.shopbox-inner {
    width: 100%;
    padding-top: calc(100% * 247 / 411);
    height: 0;
    position: relative;
}

.shop-sort {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/tellustek.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*--------------- product ---------------*/


/* product-top */

.product-top {
    position: relative;
    /* height: 552px; */
    border-bottom: 2px solid #bfb8aa;
}

.product-title {
    font-size: 28px;
    padding: 45px 0;
}

.product-showall {
    position: absolute;
    right: 0;
    top: 62px;
    transform: translateY(-50%);
    padding: 12px 32px;
    font-size: 14px;
    color: #bfb8aa;
    border: 2px solid #bfb8aa;
    letter-spacing: 1px;
}

.product-showall:hover {
    color: #8b8576;
    border-color: #8b8576;
}

@media (max-width:768px) {
    .product-title {
        position: relative;
        left: 5%;
        font-size: 24px;
        padding: 45px 0px;
    }
}

@media (max-width:360px) {
    .product-title {
        font-size: 16px;
        padding: 35px 0px;
    }
    .product-showall {
        font-size: 12px;
        padding: 6px 12px;
        top: 45px;
    }
}

.productbox {
    display: inline-block;
    overflow: hidden;
    width: 31.8%;
    position: relative;
    margin: 0px 12px 65px 12px;
}

@media (max-width:768px) {
    .productbox {
        width: 90%;
        margin: 0px 0px 65px 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.productbox-inner {
    width: 100%;
    padding-top: calc(100% * 300 / 411);
    position: relative;
}

.bestsellers {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/tellustek.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.product-nav {
    background-color: #fff;
    border-top: 1px solid #adadad;
    width: 100%;
    height: 67px;
    position: relative;
}

.product-name {
    font-size: 20px;
    line-height: 65px;
    text-align: center;
    color: #000000;
    letter-spacing: 1px;
}

.product-icon {
    margin-left: 27%;
    display: none;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 73%;
    background-color: #fff;
    font-size: 22px;
    line-height: 67px;
}

.product-icon a:hover {
    color: #57c5a0;
}

.product-nav:hover .product-icon {
    display: block;
}

.product-icon a {
    margin-left: 32px;
}

.product-price {
    height: 92px;
    width: 92px;
    position: absolute;
    bottom: 0px;
    left: 16px;
    padding: 38px 23px 28px 12px;
    z-index: 2;
}

.product-soldout {
    height: 92px;
    width: 94px;
    background-color: #F27E4B;
    position: absolute;
    top: 0;
    right: 15px;
    padding: 26px 17px 25px 16px;
    text-align: center;
}

@media (max-width:768px) {
    .product-icon {
        margin-left: 20%;
        width: 80%;
        font-size: 26px;
    }
    .product-icon a {
        margin-left: 12%;
    }
}

@media (max-width:360px) {
    .product-nav {
        height: 38px;
    }
    .product-name {
        font-size: 14px;
        line-height: 38px;
    }
    .product-price {
        height: 50px;
        width: 50px;
        padding: 20px 0px 0px 4px;
        font-size: 8px;
    }
    .product-icon {
        margin-left: 28%;
        width: 72%;
        font-size: 16px;
        line-height: 38px;
    }
    .product-icon a {
        line-height: 38px;
        margin-left: 20px;
    }
    .product-soldout {
        height: 50px;
        width: 52px;
        font-size: 8px;
        padding: 14px 0 0 0;
    }
}


/* product-list */

.product-list {
    padding-top: 36px;
    padding-bottom: 52px;
}

.u-ml-25 {
    margin-left: 25px;
}

.u-mt-26 {
    margin-top: 26px;
}

.list-padding {
    padding: 45px 35px 0px 20px;
}

.list-title {
    font-size: 15px;
    color: #000000;
    padding-bottom: 25px;
}

.list-content {
    font-size: 14px;
    color: #000000;
    line-height: 20px;
}

.list-writer {
    font-size: 12px;
    line-height: 30px;
    padding-bottom: 37px;
}

.freeshopping-2 {
    margin-top: 116px;
    padding-bottom: 45px;
}

.news-2 {
    margin-top: 19px;
    padding-bottom: 45px;
}

.news-date {
    height: 50px;
    width: 50px;
    padding: 12px;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
}

.news-date span {
    font-size: 13px;
}

.news-content {
    margin-left: 12px;
    line-height: 21px;
}

.news-title {
    font-weight: 600;
}

.col-lg-8:hover .tltle-weght {
    font-weight: 600;
}

@media (max-width:768px) {
    .col-lg-3 {
        width: 100%;
    }
    .col-lg-9 {
        width: 100%;
    }
    .col-lg-12 {
        width: 48%;
    }
    .freeshopping-2 {
        margin-top: 0;
        margin-left: 20px;
    }
    .list-padding {
        padding-right: 20px;
    }
    .col-lg-4 {
        width: 100%;
    }
    .col-lg-8 {
        width: 100%;
    }
    .u-ml-25 {
        margin-left: 0;
    }
    .u-mt-25 {
        margin-top: 25px;
    }
    .remove-2 {
        transform: translateY(262%);
    }
    .remove-3 {
        transform: translateY(-85%);
    }
    .remove-4 {
        transform: translateY(94%);
    }
    .remove-5 {
        transform: translateY(-252%);
    }
}

@media (max-width:360px) {
    .col-lg-10 {
        width: 78%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .freeshopping-2 {
        margin-left: 0px;
        margin-top: 45px;
    }
    .news-content {
        font-size: 14px;
        line-height: 17px;
    }
    .remove-2 {
        transform: translateY(2%);
    }
    .remove-3 {
        transform: translateY(221%);
    }
    .remove-4 {
        transform: translateY(-2%);
    }
    .remove-5 {
        transform: translateY(-233%);
    }
}


/*--------------- footer ---------------*/

.footer {
    position: relative;
}

.copyright {
    width: 239px;
    padding: 38px 0 42px 0;
}

.footer-link {
    position: absolute;
    right: 0;
    top: 40%;
}

.footer-link a:hover {
    color: #57c5a0;
}

.footer-item {
    float: left;
}

@media (max-width:768px) {
    .copyright,
    .footer-link {
        font-size: 14px;
    }
}

@media (max-width:360px) {
    .copyright {
        font-size: 12px;
        width: 220px;
        padding: 60px 0 18px 0;
    }
    .footer-link {
        left: 0;
        top: 20%;
        font-size: 12px;
    }
}